<header>
    <div class="headerGrid">
        <nav>
            <div class="headerWrapper">
                <a routerLink="/trainer" routerLinkActive="active"><img class="headerImage" src="/assets/POKEBALL.png"
                        alt="pokeball" /></a>
                <a routerLink="/catalog" routerLinkActive="active"><img class="headerImage" src="/assets/pokedex.png"
                        alt="pokedex" /></a>
            </div>
        </nav>
        <h2>{{getPath()}}</h2>
        <div>
            <div *ngIf="isLoggedIn">
                <p>{{username}}</p>
                <button type="button">Logout</button>
            </div>
        </div>
    </div>
    <div class="titleWrapper">
        <div class="titleGrid">
            <h1>Pokemon Trainer</h1>
            <img class="titleImage" src="/assets/pikachu.png" alt="img lul" />
        </div>
    </div>
</header>