<div class="pokemon-list-div">
    <div class="pokemon-list-element">
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
    </div>
    <div class="pokemon-list-element">
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
    </div>
    <div class="pokemon-list-element">
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
    </div>
    <div class="pokemon-list-element">
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
    </div>
    <div class="pokemon-list-element">
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
    </div>
    <div class="pokemon-list-element">
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
        <app-pokemon-wrapper></app-pokemon-wrapper>
    </div>
</div>