
.pokemon-list-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.pokemon-list-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    width: 100%;
    margin-bottom: 2%;
}