:host {
    width: 30%;
}

.pokemon-wrapper-div {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 236, 164);
    border: 2px solid black;
    align-items: center;
    width: 15rem;
    margin-bottom: 4%;
    height: 15rem;

}

.wrapper-image {
    opacity: 30%;
    width: 5rem;
    height: 5rem;
}

