:host {
    width: 30%;
}

.pokemon-wrapper-div {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 220, 164);
    border: 0.3vh solid rgb(223, 198, 55);
    border-radius: 1.5vh;
    box-shadow: 0.4vh 0.4vh 0.4vh 0.4vh rgb(137, 135, 66);
    align-items: center;
    width: 15rem;
    margin-bottom: 10%;
    height: 15rem;

}

.wrapper-image {
    opacity: 30%;
    width: 5rem;
    height: 5rem;
}

