:host {
    width: 30%;
}

.pokemon-wrapper-div {
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 236, 164);
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    margin-bottom: 2%;
    height: 10rem;

}

